.weathercontainer{
    display: flex;
    flex-direction: row;
}


.temp{
 
    font-size: 30px;
    font-weight: 400;
    display: flex;
    flex-direction: row;
    gap: 2rem;
    align-items: center;
    margin-top: 4%;
    margin-left: 20%;
}
.weatherinfo {
    margin-top: 4%;
}

.city{
    font-size: 25px;
    font-weight: bold;
}


@media screen and (max-width: 430px) {
   
   .weatherinfo {
    height: 50%;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;

   }

   }